<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="../static/css/app.css">
    <script src="../static/js/app.js"></script>
    <title>Gstion de datos</title>

</head>
<body onload="iniciar()">
    <div class="container">
        <br>
        <div id="divPersona" class="w-50">
            <h3 class="text-center fw-bold" style="font-size:3vh">Gestión De Personas</h3>
            <!--  formulario para pedir datos  -->
            <form method="post" class="was-validated" id="frmPersonas">
                <div class="form-floating mb-3 mt-3">
                    <input type="text" name="txtIdentificacion" id="txtIdentificacion"
                    class="form-control " value="">
                    <label for="txtIdentificacion">Identificación</label>
                </div>
                <div class="form-floating mb-3 mt-3">
                    <input type="text" name="txtNombre" id="txtNombre"
                    class="form-control " value="">
                    <label for="txtNombre">Nombre</label>
                </div>
                <div class="form-floating mb-3 mt-3">
                    <input type="email" name="txtCorreo" id="txtCorreo"
                    class="form-control " value="">
                    <label for="txtCorreo">Correo</label>
                </div>
                <div class="form-floating mb-3 mt-3">
                    <input type="date" name="txtFechaNacimiento" id="txtFechaNacimiento"
                    class="form-control " value="" mine="1950-12-31" max="2023-03-11">
                    <label for="txtFechaNacimiento">Fecha Nacimiento</label>
                </div>
                <div class="text-center">
                    <div class="form-group">
                        <input type="button" name="btnAccion" id="btnAgregar" onclick="agregar()" value="AGREGAR"
                        class="btn btn-success ">
                        <input type="button"  onclick="consultarPorIdentificacion()" name="btnAccion" id="btnConsultar" value="CONSULTAR"
                        class="btn btn-primary ">  
                        <input type="button" onclick="actualizar()" name="btnAccion" id="btnActualizar" value="ACTUALIZAR"
                        class="btn btn-warning ">
                        <input type="button" onclick="eliminar()" name="btnAccion" id="btnEliminar" value="ELIMINAR"
                        class="btn btn-danger ">
                    </div>
                </div>
                <input type="hidden" name="txtIdAnterior" id="txtIdAnterior">
            </form>
        </div>
        <br>
        <div id="divListaPersonas" class="w-50 table-responsive">
            <!--  Tabla, donde se muestran los datos -->
            <br>
            <table id="tblPersonas" class="table table-bordered">
                <thead class="text-white text-center" >
                    <tr id="filaEncabezadoTabla" style="font-size:2vh">
                        <th>Ientifiacion</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Fecha de Nacimiento</th>
                    </tr>
                </thead>
                <tbody id="datosPersonas">     
                    {% for persona in listaPersonas %} 
                        <tr>
                            <td class="text-center">{{persona[0]}}</td>
                            <td>{{persona[1]}}</td>
                            <td class="text-center">{{persona[2]}}</td>
                            <td>{{persona[3]}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table> 
        </div>
       
    </div>

    
    
</body>
</html>