{% extends "index.html" %}
{% block encabezado %}
    {% include "encabezado.html" %}
{% endblock %}
{% block menu %}
    {% include "menu.html" %}
{% endblock %}
{% block contenido %}
    <div class="w-50 mt-3" style="margin: 0 auto;">
        <form action="/agregarProducto/" method="post">
             {% csrf_token %}
            <div>
                <h3 class="text-center">AGREGAR PRODUCTO</h3>
            </div>
            <div class="form-floating">
                <input type="number" name="txtCodigo" id="txtCodigo" class="form-control" value="{{producto.id}}" required>
                <label for="txtCodigo">Codigo Productor: </label>
            </div>
            <div class="form-floating">
                <input type="text" name="txtNombre" id="txtNombre" class="form-control" value="{{producto.proNombre}}" required>
                <label for="txtNombre">Nombre Productor: </label>
            </div>
            <div class="form-floating">
                <input type="number" name="txtPrecio" id="txtPrecio" class="form-control" value="{{producto.proPrecio}}" required>
                <label for="txtPrecio">Precio Productor: </label>
            </div>
            <div class="form-floating">
                <select class="form-select" name="cbCategoria" id="cbCategoria" value="{{producto.proCategoria}}" required>
                    <option value="0">Seleccione</option>
                    {% for l in listaCategorias %}
                        <option value="{{l.id}}">{{l.catNombre}}</option>             
                    {% endfor %}
                </select>
                <label for="cbCategoria">Categoria Productor: </label>
                
            </div>
            <div class="form-floating mb-3">
                <input type="file" name="fileFoto" id="fileFoto" required placeholder="imagen del producto"
                class="form-control" accept=".jpg">
                <label for="fileFoto" class="fw-bold">Cargar Foto</label>
            </div>
    
            <div>
                <button class="btn btn-success mt.3">Agregar</button>
            </div>
        </form>
        <div>
            {% if mensaje %}
                {% if estado %}
                    <script>
                        Swal.fire('Agregar Producto','{{mensaje}}','success')
                    </script>
                {% else %}
                    <script>
                        Swal.fire('Agregar Producto','{{mensaje}}','error')
                    </script>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block piePagina %}
    {% include "piePagina.html" %}
{% endblock %}
