
  <div class="d-flex gap-5 justify-content-center">
    <ul class="dropdown-menu dropdown-menu-dark position-static d-grid gap-2 p-2 rounded-3 mx-1 shadow w-320px">
      <li><a class="dropdown-item rounded-2" href="/inicio/">Inicio</a></li>
      <li><a class="dropdown-item rounded-2" href="/listarProductos/">Listar Producto</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item rounded-2" href="/vistaProducto/">Agregar Producto</a></li>
      <li><a class="dropdown-item rounded-2" href="/vistaCategoria/">Agregar Categoria</a></li>      
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item rounded-2" href="/admin/">Administrador</a></li>
    </ul>
  </div>